*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

input{
    font-weight: 800;
}



body{
    font-family: 'Segoe UI';
    background: rgba(243, 185, 33, 1);
}


a{
    font-family: 'Segoe UI';
    font-weight: 900;
    font-size: 16px;
    padding: 5px;
    text-decoration: none;
    color: #255f05;
}

a:hover{
    color: rgba(243, 185, 33, 1);
}


header{
    height: 100px;   
 }

 .contenedor-header{
    
    display: flex;
    padding: 7px;
    width: 100%;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px o rgba(0,0,0,.2)
   
 }
    
.icono{
    width: 400px;
    margin-left: 30px;
 }

.icono img {
    width: 250px;
    height: 80px;
}

.menu-smart{
    display: none;
 }
    
.menu{
   display: contents;
}
    
.opciones-ocultas{
    display: none;
}
    
    @media (max-width: 480px) { 
        .menu-smart{
            display:flex;
            margin-right: 20px;
        }
    
        .menu{
         display: none;
         }
     }
    
.opcion{
        margin: auto;
        text-align: center;
}
    
.carrito{      
        width: 60px;
        margin: auto 0 auto auto;
}

.carrito img{
    
        width: 35px;
        height: 35px;
        cursor: pointer;      
}

/* empieza main*/

main{
    min-height: 500px;
    height: 100vh;
}


.contenedor-main{
        
        display: flex;
}




.fila.tipos{
     height: 40px;
     display: flex;
     margin-left: 165px;
 }

.imagenes-tipos{
        width: 100%;
        height: 290px;
       
}
    
.boton-tipos {
        border-radius: 50%;
        width: 1em;
        height: 1em;
        background-color: white;
        -webkit-appearance: none;
        outline: none;
        cursor: pointer;
        border: 3px solid #000000;
}
    
.boton-tipos:checked {
        background-color:#000000;
}
    
.caja-mas {
        background: #FFFFFF;
        border: 3px solid #000000;
        border-radius: 12px;
        width: 55px;
        margin: 30px auto;
        padding: 2px;
}

.fila.mas{
        height: 65px;
        display: flex;
        margin-left: 165px;
    }

.boton-validar {
        width: 253.75px;
        height: 45px;
        cursor: pointer;
        background: #000000;
        border: 2px solid #0A0909;
        border-radius: 14px;
        font-family: 'Segoe UI';
        font-weight: 900;
        font-size: 18px;
        color: #FFFCFC;
    }

.fila.guardar{
        height: 65px;
        display: flex;
        margin: 30px 90px;
    }






   
.seguir{      
    width: 60px;
    margin: auto 0 auto auto;
}

.seguir img{

    width: 35px;
    height: 35px;
    cursor: pointer;      
}



 
.seguir2{      
    width: 60px;
    margin: auto 0 ;
}


.libro{

    width: 35px;
    height: 35px;
    cursor: pointer;      
}


.contacto{
    display: contents;
 }

 .opcion3{
    margin: auto;
}


h2{
    font-family: 'Segoe UI';
    font-weight: 900;
    font-size: 16px;
    padding: 10px;
    text-decoration: none;
    color: #1c4705;
}








    .contenedor-estilo {
        display: flex;
    }

    .imagenes-tipos{
        width: 100%;
        
     }



.cuadro4 {
    position: absolute;
    z-index: 1;
    background-image: url(imagenes/ondapri.png);
    background-size: 100%;
    top: 390px;
    width: 100%;
    background-repeat: no-repeat;
    height: 270px;
    align-items: center;
}


h1 {
    max-width: 637px;
    padding: 14px;
    font-family: 'Segoe UI';
    font-weight: 900;
    font-size: 13px;
    text-decoration: none;
}


.cuadro5 {
    
            display: flex;
            position: absolute;
            top: 549px;
        }
        




p{ 
    font-size: 26px;
    padding: 24px;
    max-width: 680px;
    font-family: 'Segoe UI';
    font-weight: 900;
  
}


.contenedor-compras{
    margin: 239px 0px 27px 150px;
}




.mira{
    border: 9px solid #000000;
    width: 290px;
    height: 212px;

}


.mira2{
    border: 9px solid #000000;
    width: 584px;
    height: 133px;
}




 
footer{
    background-color: white;
    position: relative;
    z-index: 1000;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%; 
}   



    
    

  
    
.contenedor-footer{
        display: flex;
        padding: 7px;
        width: 100%;
        background: rgb(255, 255, 255);
        border-bottom: 1px solid transparent;
        box-shadow: 1px 1px 10px o rgba(0,0,0,.2)
     }

     .seguir{
         display: flex;
     }


            
     
     
.redes{      
    width: 225px;
    margin: 50px 132px 55px 40px;
 }

.redes img{

    width: 40px;
    height: 40px;
    cursor: pointer; 
    margin: 6px;     
}

.redes2 img{
    width: 35px;
    height: 30px;
    cursor: pointer;
    margin: 50px -110px auto 64px;    
}



   
.seguir{      
    width: 60px;
    margin: 0px;
    
}


.seguir img{

    width: 35px;
    height: 35px;
    cursor: pointer;      
}


.red{
    margin: 38px 13px 35px;
}




 
.seguir2{      
    width: 60px;
    margin: auto 0 auto auto;
}


.libro{

    margin: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;      
}






.contacto{
    display: contents;
 }

 .opcion3{
    margin-right: 30px;

}


h2{
    font-family: 'Segoe UI';
    font-weight: 900;
    font-size: 14px;
    padding: 10px;
    text-decoration: none;
    color:rgba(84, 114, 19, 1);
}



