*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Robot', sans-serif;
    background: rgba(243, 185, 33, 1);
}






/* esto es lo primer de su video desde la 13 a la98*/
.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}


.contenedor1{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 60px 0;
}

/* header*/

nav{
    width: 100%;
    height: 80px;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px o rgba(0,0,0,.2);
    position: fixed;
   /* transition: ease-in-out 0.5s;*/
}

.nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    align-items: center;
}

.nav .logo{
    height: 83px;
}

.nav .logo img{
    height: 100%;
    vertical-align: top;

}
  
.enlaces-header{
    font-weight: 700;
}

.nav .enlaces-header a{
    color: black;
    text-decoration: none;
    margin-left: 10px;
    padding: 45px;

}

.carro{
    width: 35px;
    height: 40px;
    background: rgb(255, 255, 255);
    text-align: center;
    z-index: 100;
    cursor: pointer;
}

.carro img{
    
    width: 35px;
    height: 35px;
}
  

.piedepagina {
    nav{
        width: 100%;
        height: 60px;
        background: rgb(255, 255, 255);
        border-bottom: 1px solid transparent;
        box-shadow: 1px 1px 10px o rgba(0,0,0,.2);
        position: fixed;
       /* transition: ease-in-out 0.5s;*/    }
}
/*




